<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655341144806-cmqdjpg8gkq89tio02pdpfc4hl47g8md.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655341144806-cmqdjpg8gkq89tio02pdpfc4hl47g8md</string>
	<key>API_KEY</key>
	<string>AIzaSyCbk3iAE3KZviKSE5_KU7IhTMJFMDv_e7A</string>
	<key>GCM_SENDER_ID</key>
	<string>655341144806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jingni.Petmily</string>
	<key>PROJECT_ID</key>
	<string>petmily-6b63f</string>
	<key>STORAGE_BUCKET</key>
	<string>petmily-6b63f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655341144806:ios:50fa8a2cbd333f324f4927</string>
</dict>
</plist>